<template>
    <div class="flex gap-5 mt-5">
        <div>
            <ui-search></ui-search>
        </div>
        <div class="box">
            <div class="title">Items list</div>
            <ui-datagrid>
                <template>
                    <button class="btn btn-sm btn-accent m-1">buy</button>
                    <button class="btn btn-sm m-1">more</button>
                </template>
            </ui-datagrid>
            <div class="flex justify-end border-t pt-2">
                <ui-pagination></ui-pagination>
            </div>
        </div>
        <div>
            <div class="box">
                <ui-details>
                    <h5 slot="title" class="title">Details</h5>
                </ui-details>
            </div>
        </div>
    </div>
</template>
