<template>
    <div class="flex gap-4 mt-5">
        <div class="box">
            <ui-datagrid id="cart">
                <div slot="title" class="title">Cart items</div>
                <template>
                    <button class="btn btn-info btn-sm mr-1">-</button>
                    <button class="btn btn-info btn-sm">+</button>
                </template>
            </ui-datagrid>
            <div class="info-cart mt-4 font-bold"></div>
            <div>
                <button id="buy-btn" class="btn btn-sm btn-accent mt-2">buy</button>
            </div>
        </div>
        <div class="box">
            <ui-datagrid id="shopping">
                <div slot="title" class="title">Your shopping history with tax & discount</div>
            </ui-datagrid>
            <div class="info-shopping mt-4 font-bold"></div>
        </div>
    </div>
</template>
