<template id="dg-tpl">
    <style>
        :host {
            display: block;
        }

        ::slotted(*) {
            font-size: 40px;
        }
    </style>
    <div class="body"></div>
</template>
