<template id="spinner-tpl">
    <style>
        .loading {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            user-select: none;
            z-index: 1000;
            color: lightgray;
            background-color: rgba(0, 0, 0, .7);
            width: 100%;
            height: 100%;
        }
    </style>
    <div class="loading transition-all duration-300 invisible"></div>
</template>
