@tailwind base;
@tailwind components;
@tailwind utilities;

@import './variables.scss';

body {
    background-color: $color-main;
}

.input {
    @apply block w-full p-1 text-base text-gray-700 bg-white border border-solid border-gray-300 rounded;
}

.select {
    @apply px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat
    border border-solid border-gray-300 rounded m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600;
}

.nav a {
    @apply box-border px-2 py-1 rounded;
}
.nav .btn-active {
    @apply bg-gray-200 cursor-default;
}

.active {
    @apply bg-opacity-100;
}

.title {
    @apply font-semibold pb-1 mb-3 border-b-2;
}

.box {
    @apply border-2 border-gray-200 bg-gray-50 rounded-md p-4 inline-block shadow-lg;
}

.logo {
    /* filter: invert(1); */
    /* transform: scale(1.2);
    transform-origin: left center; */
}

#newwin {
    position: absolute;
    right: 0;
    opacity: 0;
}
