<template>
    <div class="flex gap-5 mt-5">
        <div class="box">
            <ui-datagrid>
                <div slot="title" class="title">Workers list</div>
                <template>
                    <button class="btn btn-info btn-sm">more</button>
                </template>
            </ui-datagrid>
        </div>
        <div>
            <div class="box">
                <ui-details>
                    <h5 slot="title" class="title">Details</h5>
                </ui-details>
            </div>
        </div>
    </div>
</template>
