<template id="init-tpl">
    <div class="flex md:flex-row flex-col gap-5 items-start m-5">
        <div class="card bg-neutral/50 lg:w-1/2 shadow-lg">
            <div class="card-body space-y-4">
                <h1 class="card-title text-2xl">Szkolenie JavaScript zaawansowane</h1>
                <p>
                    Niniejsza aplikacja ma na celu utrwalenie zagadnień poruszanych podczas szkolenia.
                </p>
                <div>
                    Aplikacja zawiera szereg narzędzi stworzonych w czystym JS np:
                    'reactive data store' czy 'custom routing'. Do tworzenia widoków użyte
                    zostały natywne 'Web components'.
                </div>
                <p>
                    Szkolenie jest realizowane wg programu:
                    https://debugger.pl/szkolenie-javascript-zaawansowane
                </p>
                <p>
                    Użyte bib. CSS: Tailwind CSS oraz daisyUI
                </p>
            </div>
        </div>
        <div class="card bg-emerald-100 shadow-lg">
            <div class="card-body">
                <div class="card-title">binary watch</div>
                <p>
                    web component exposes by ModuleFederationPlugin
                </p>
                <div class="divider my-0.5"></div>
                <ui-watch preview="true"></ui-watch>
            </div>
        </div>
    </div>
</template>
