<template>
    <!-- <style>
        .auth-form input {
            width: 100px !important;
        }
    </style> -->
    <div>
        <button type="button" class="btn btn-sm btn-warning btn-logout hidden">log out</button>
        <form class="flex auth-form gap-2">
            <input class="input input-sm" type="email" name="username" required value="admin@localhost"
                id="username" placeholder="username">
            <input class="input input-sm" required type="password" name="password" value="Admin1" id="password"
                placeholder="password">
            <button type="sumbit" class="btn btn-sm btn-primary">
                log in
            </button>
        </form>
    </div>
</template>
